<html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" type="text/css" href="../../css/style.css">
      <script type="text/javascript"> var type = 'table';</script>
   </head>
   <body>

      <div id="wrapper">
         <div class="page-title">
                <div id="title">
                    <a class="logo" href="/">
                      <span>&shy;</span>
                    </a>
                    <div class="category">
                       <a class="category-link" href="/category/@category_name/@category_name.html">category</a>
                    </div>
                </div>
         </div>

         <div id="content-wrapper" class="table-tpl2"> 

          <div id="header-indent"></div> 
          <div class="indent"></div>

          <div id="sub-title-bar">
                  <h4 class="editable" id="sub-category-sub-title">Sub Title</h4>
          </div>

            <table id="table-2column-2bold">
               <tbody>
                  <tr>
                     <td class="firs"></td>
                     <td class="last"></td>
                  </tr>
               </tbody>
            </table>

            <div id="fake-footer"></div> 

          </div>

         <div class="page-footer">

            <div id="footer">
               <a class="logo" href="/">
                  <span>&shy;</span>
               </a>

               <div class="category">
                  <a class="category-link" href="/category/@category_name/@category_name.html">@category</a>
               </div>
                    
            </div>

         </div>

         <div class="footer-indent"></div>

      </div>
   </body>

</html>